# Включает debug-режим приложения
DEBUG=false

# Docker-образ приложения для production Docker Compose
URL_SHORTENER_IMAGE=ghcr.io/domovonok/url-shortener:latest

# Адрес HTTP-сервера внутри приложения
# Для локального запуска обычно достаточно :8080
HTTP_ADDR=:8080

# Порт HTTP-сервера на хосте при запуске через Docker Compose
HTTP_PORT=8080

# Сколько времени приложение ждет завершения активных запросов при остановке
GRACEFUL_SHUTDOWN_TIMEOUT=5s

# Тип хранилища ссылок: inmemory или postgres
STORAGE_TYPE=inmemory

# Хост PostgreSQL
# При запуске через Docker Compose сервис приложения переопределяет значение на postgres
POSTGRES_HOST=localhost

# Порт PostgreSQL
POSTGRES_PORT=5432

# Имя базы данных PostgreSQL
POSTGRES_DB=testdb

# Пользователь PostgreSQL
POSTGRES_USER=user

# Пароль пользователя PostgreSQL
POSTGRES_PASSWORD=12345

# Режим SSL для подключения к PostgreSQL
# Для локального запуска обычно используется disable
POSTGRES_SSL_MODE=disable
