DEBUG=false
HTTP_ADDR=:8080
GRACEFUL_SHUTDOWN_TIMEOUT=5s
STORAGE_TYPE=inmemory
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=testdb
POSTGRES_USER=user
POSTGRES_PASSWORD=12345
POSTGRES_SSL_MODE=disable
