services:
  postgres:
    image: postgres:15
    container_name: my-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: my-redis
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redisdata:/data
    networks:
      - backend

  migrate:
    image: gomicro/goose:latest
    depends_on:
      - postgres
    env_file: [.env]
    environment:
      POSTGRES_HOST: postgres
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB}"
    volumes:
      - ./migrations:/migrations:ro
    entrypoint: ["goose", "-dir", "/migrations"]
    command: ["up"]
    networks:
      - backend

  url-shortener:
    build: .
    container_name: url-shortener
    depends_on:
      - migrate
      - redis
    env_file: [.env]
    environment:
      POSTGRES_HOST: postgres
      REDIS_HOST: redis
    ports:
      - "${PORT:-8080}:8080"
    command: ["./app"]
    networks:
      - backend
      - monitoring
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./monitoring/prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
      - prometheus-data:/prometheus
    depends_on:
      - url-shortener
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning:ro
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=
    depends_on:
      - prometheus
    networks:
      - monitoring
    restart: unless-stopped

volumes:
  pgdata:
  redisdata:
  prometheus-data:
  grafana-data:

networks:
  backend:
    driver: bridge
  monitoring:
    driver: bridge
